@use "sass:color";
@use '../_variables.scss' as *;

.personalChat {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .loadMoreButton {

    background-color: $color-blue-1;
    color: $color-white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px auto;
    display: block;

    &:hover {
      background-color: color.adjust($color-blue-1, $lightness: -10%);
    }
  }

  .noMessages {
    text-align: center;
    color: $color-white;
    margin-top: 20px;
    font-size: 1.1em;
  }
}

.scrollToBottomButton {
  position: fixed;
  bottom: 70px;
  right: 20px;
  font-size: 80px;
  padding: 2px;
  background-color: rgba($color-grey-8, 0.9);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;

  color: $color-white;

  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: $color-grey-8;
    background-color: rgba( $color-white, 0.9);
  }
}

.messagesContainer {
  height: calc(100vh - 130px);
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.message {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 15px;
  word-wrap: break-word;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.myMessage {
  align-self: flex-end;
  background-color: $color-grey-4;
  color: $color-black;
  border-bottom-right-radius: 2px;
}

.otherMessage {
  align-self: flex-start;
  background-color: $color-grey-8;
  color: $color-white;
  border-bottom-left-radius: 2px;
}

.messageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.messageSender {
  font-weight: bold;
  margin-right: 10px;
}

.messageDate {
  font-size: 0.8em;
  opacity: 0.8;
}

.messageContent {
  font-size: 0.95em;
  line-height: 1.4;
}

.messageActions {
  margin-top: 5px;
  display: flex;
  gap: 5px;

  button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: 1.1em;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      opacity: 0.8;
    }
  }
}

.messageInputContainer {
  height: 60px;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  padding: 10px;
  background-color: $color-dark-2;
  box-sizing: border-box;

  .messageInput {
    flex: 1;
    padding: 10px;
    border: 1px solid $color-grey-5;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 1em;
    background-color: $color-white;
    color: $color-black;
  }

  .sendMessageButton, .downloadButton {
    background-color: $color-blue-1;
    color: $color-white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;

    &:hover {
      background-color: color.adjust($color-blue-1, $lightness: -10%);
    }
  }
  .downloadButton {
    padding: 10px 12px;
    margin-left: 5px;
  }
}
