@use "sass:color";
@use '../_variables.scss' as *;

.messenger {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;

  nav {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    background-color: $color-dark-2;
    color: $color-white;
    justify-content: space-between;

    .profileIcon {
      height: 100%;
      width: 30px;
    }

    .searchBox {
      height: 100%;
      width: calc(100vw - 280px);
      padding: 0;

      input {
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
      }
    }

    .chatHeader {
      text-align: center;
      width: 200px;
    }
  }
}
